<header>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">App Name</a></h1>
      </li>
    </ul>
  </nav>
</header>
<div id="container">
  {{outlet}}
</div>